.leftPadding{
  padding-left: 50px
}
.App{
  display: initial;
}
.center{
  margin: auto
}
.imgSizer{
  height:300px;
  width:300px
}
.displayclass{
  display:flex !important
}
@media screen and (max-width:400px){
  .displayclass{
    display:none !important
  }
}